In [1]:
import pandas as pd
import numpy as np

In [2]:
employee = pd.read_csv('D:\\data science\\csv\\employee.csv')

In [3]:
employee.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
employee.describe(include='all')

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470,1470,1470.000000,1470,1470.000000,1470.000000,1470,1470.0,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
unique,NaN,2,3,NaN,3,NaN,NaN,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,No,Travel_Rarely,NaN,Research & Development,NaN,NaN,Life Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1233,1043,NaN,961,NaN,NaN,606,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,36.923810,NaN,NaN,802.485714,NaN,9.192517,2.912925,NaN,1.0,1024.865306,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,NaN,NaN,403.509100,NaN,8.106864,1.024165,NaN,0.0,602.024335,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,NaN,NaN,102.000000,NaN,1.000000,1.000000,NaN,1.0,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,NaN,NaN,465.000000,NaN,2.000000,2.000000,NaN,1.0,491.250000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,NaN,NaN,802.000000,NaN,7.000000,3.000000,NaN,1.0,1020.500000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,NaN,NaN,1157.000000,NaN,14.000000,4.000000,NaN,1.0,1555.750000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,NaN,NaN,1499.000000,NaN,29.000000,5.000000,NaN,1.0,2068.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

Few of the columns contain all similar values

In [5]:
print(employee.EmployeeCount.unique())
print(employee.EmployeeNumber.unique())
print(employee.Over18.unique())
print(employee.StandardHours.unique())

[1]
[   1    2    4 ... 2064 2065 2068]
['Y']
[80]

Due to single value for some columns and id variable we drop them

In [6]:
employee = employee.drop(['EmployeeCount','EmployeeNumber','Over18','StandardHours'], axis=1)

In [7]:
employee.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

Do we have NAs in the data?

In [8]:
employee.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
#replacing our Attrition output by integer constants
employee.loc[employee['Attrition']=='No','Attrition'] = 0
employee.loc[employee['Attrition']=='Yes','Attrition'] = 1

In [10]:
#employee numeric columns
employee_num = employee[employee.select_dtypes(include=np.number).columns.tolist()]

In [11]:
employee_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 24 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null int64
DailyRate                   1470 non-null int64
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
HourlyRate                  1470 non-null int64
JobInvolvement              1470 non-null int64
JobLevel                    1470 non-null int64
JobSatisfaction             1470 non-null int64
MonthlyIncome               1470 non-null int64
MonthlyRate                 1470 non-null int64
NumCompaniesWorked          1470 non-null int64
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
StockOptionLevel            1470 non-null int64
TotalWorkingYears           1470 non-null int64
TrainingTimesLastYear       1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(24)
memory usage: 275.7 KB

In [12]:
employee_num.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,2,94,3,2,4,...,3,1,0,8,0,1,6,4,0,5
1,49,0,279,8,1,3,61,2,2,2,...,4,4,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,4,92,2,1,3,...,3,2,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,4,56,3,1,3,...,3,3,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,40,3,1,2,...,3,4,1,6,3,3,2,2,2,2

In [13]:
employee_dummies = pd.get_dummies(employee[employee.select_dtypes(include=['object']).columns.tolist()])

In [14]:
employee_dummies.head()

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
3,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,1
4,0,0,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [15]:
employee_combined = pd.concat([employee_num,employee_dummies], axis=1)

In [16]:
employee_combined.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,41,1,1102,1,2,2,94,3,2,4,...,0,0,0,1,0,0,0,1,0,1
1,49,0,279,8,1,3,61,2,2,2,...,0,0,1,0,0,0,1,0,1,0
2,37,1,1373,2,2,4,92,2,1,3,...,0,0,0,0,0,0,0,1,0,1
3,33,0,1392,3,4,4,56,3,1,3,...,0,0,1,0,0,0,1,0,0,1
4,27,0,591,2,1,1,40,3,1,2,...,0,0,0,0,0,0,1,0,1,0

In [17]:
#Dividing the data into train and test dataset
from sklearn.model_selection import train_test_split

train_x = employee_combined.drop(['Attrition'], axis=1)

train_y = employee_combined['Attrition']

#train test split
X_train, X_test, y_train, y_test = train_test_split(train_x, train_y, test_size=0.3, random_state=20)

In [18]:
#Import the classifier model
from sklearn import tree

dt = tree.DecisionTreeClassifier()

#train the model using training data
dt.fit(X_train, y_train)

#predict the response for test dataset
y_pred = dt.predict(X_test)

In [19]:
#import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
print('Accuracy:', metrics.accuracy_score(y_test,y_pred))
print('Precision:', metrics.precision_score(y_test,y_pred))
print('Recall:', metrics.recall_score(y_test,y_pred))

Accuracy: 0.8163265306122449
Precision: 0.417910447761194
Recall: 0.4

Plotting trees

In [20]:
from pydotplus import graphviz
from sklearn.externals.six import StringIO
from sklearn.tree import export_graphviz

dot_data = StringIO()

C:\Users\Working\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [21]:
import pydotplus

In [22]:
export_graphviz(dt, out_file=dot_data, filled=True, rounded=True, special_characters=True)

In [23]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [24]:
graphviz.Subgraph(graph)

In [25]:
from IPython.display import Image

In [26]:
Image(graph.createi_png())

AttributeError: 'Dot' object has no attribute 'createi_png'

In [27]:
#import random forest
from sklearn.ensemble import RandomForestClassifier

In [28]:
#build a classifier
rf = RandomForestClassifier(n_estimators=100)

In [29]:
#Train the model using training data
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [30]:
#predict the response of the test dataset
y_pred = rf.predict(X_test)

In [31]:
#metric calculation
print('Accuracy using RF:', metrics.accuracy_score(y_test,y_pred))
print('Precision using RF:', metrics.precision_score(y_test,y_pred))
print('Recall using RF:', metrics.recall_score(y_test,y_pred))

Accuracy using RF: 0.8616780045351474
Precision using RF: 0.7647058823529411
Recall using RF: 0.18571428571428572

Random Search

In [32]:
from time import time
from scipy.stats import randint as sp_randint
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier

In [33]:
#Utility function to report the best scores
def report(results, n_top=3):
    for i in range(1, n_top+1):
        candidates = np.flatnonzero(results['rank_test_score']== i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.3f} (std: {1:.3f})".format(results['mean_test_score'][candidate],results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [34]:
list(range(1, 2))

[1]

In [35]:
#specify parameters and distributions to sample from
param_dist = {'max_depth': [3,None],
              'max_features' : sp_randint(1,11),
              'min_samples_split' : sp_randint(2,11),
              'bootstrap' : [True,False],
              'criterion' : ['gini','entropy']}

In [36]:
#run randomzied search
n_iter_search = 20
random_search = RandomizedSearchCV(rf, param_distributions=param_dist, n_iter=n_iter_search, cv=5)
start = time()
random_search.fit(X_train, y_train)
print("Randomized Search took %.2f seconds for %d candidates" " parameter settings." % ((time()-start), n_iter_search))
report(random_search.cv_results_)

Randomized Search took 26.64 seconds for 20 candidates parameter settings.
Model with rank: 1
Mean validation score: 0.866 (std: 0.010)
Parameters: {'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 8, 'min_samples_split': 7}

Model with rank: 2
Mean validation score: 0.863 (std: 0.015)
Parameters: {'bootstrap': True, 'criterion': 'entropy', 'max_depth': None, 'max_features': 8, 'min_samples_split': 9}

Model with rank: 3
Mean validation score: 0.862 (std: 0.012)
Parameters: {'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 5, 'min_samples_split': 8}

Model with rank: 3
Mean validation score: 0.862 (std: 0.014)
Parameters: {'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 7, 'min_samples_split': 6}

In [37]:
random_search.cv_results_

{'mean_fit_time': array([0.31601963, 0.29372668, 0.17159905, 0.12549105, 0.2240911 ,
        0.24673214, 0.19769316, 0.15884991, 0.19412489, 0.25213847,
        0.3194972 , 0.24091783, 0.18507071, 0.16751647, 0.35090947,
        0.22363424, 0.37876019, 0.19441175, 0.38690376, 0.21249542]),
 'std_fit_time': array([0.03942639, 0.03273087, 0.03863652, 0.02396831, 0.0166581 ,
        0.02084839, 0.01828017, 0.03073699, 0.0315354 , 0.02551396,
        0.00540882, 0.03065734, 0.00866993, 0.0366193 , 0.04390875,
        0.03348641, 0.04013454, 0.00597173, 0.02537705, 0.02296513]),
 'mean_score_time': array([0.01935019, 0.02018094, 0.0169611 , 0.01237984, 0.01715689,
        0.01774979, 0.014884  , 0.01390467, 0.01386304, 0.01980801,
        0.02195592, 0.01535358, 0.01510262, 0.02094903, 0.01772547,
        0.0233911 , 0.01790009, 0.0211813 , 0.01823664, 0.01759214]),
 'std_score_time': array([0.00801763, 0.00924871, 0.00305277, 0.00175561, 0.00391327,
        0.00218831, 0.00306524, 0.00247185, 0.0019331 , 0.0003363 ,
        0.00753718, 0.00180877, 0.00309115, 0.00895085, 0.00324909,
        0.00799103, 0.00259816, 0.00450177, 0.00152042, 0.00234327]),
 'param_bootstrap': masked_array(data=[True, False, False, False, False, False, False, True,
                    True, True, True, False, True, True, False, True,
                    False, False, False, False],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_criterion': masked_array(data=['entropy', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'entropy', 'gini', 'gini', 'entropy', 'gini',
                    'gini', 'entropy', 'entropy', 'entropy', 'gini',
                    'gini', 'entropy', 'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[None, None, None, 3, None, None, 3, 3, 3, None, None,
                    3, None, 3, None, None, None, None, None, 3],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=[8, 6, 1, 1, 3, 3, 9, 3, 9, 6, 9, 9, 2, 1, 5, 1, 8, 1,
                    7, 7],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[9, 2, 9, 10, 9, 5, 7, 7, 10, 8, 7, 4, 7, 4, 8, 2, 7, 5,
                    6, 8],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 8,
   'min_samples_split': 9},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 6,
   'min_samples_split': 2},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 1,
   'min_samples_split': 9},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 1,
   'min_samples_split': 10},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 3,
   'min_samples_split': 9},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 3,
   'min_samples_split': 5},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 9,
   'min_samples_split': 7},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': 3,
   'max_features': 3,
   'min_samples_split': 7},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 9,
   'min_samples_split': 10},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 6,
   'min_samples_split': 8},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 9,
   'min_samples_split': 7},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': 3,
   'max_features': 9,
   'min_samples_split': 4},
  {'bootstrap': True,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 2,
   'min_samples_split': 7},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': 3,
   'max_features': 1,
   'min_samples_split': 4},
  {'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 5,
   'min_samples_split': 8},
  {'bootstrap': True,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 1,
   'min_samples_split': 2},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 8,
   'min_samples_split': 7},
  {'bootstrap': False,
   'criterion': 'gini',
   'max_depth': None,
   'max_features': 1,
   'min_samples_split': 5},
  {'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': None,
   'max_features': 7,
   'min_samples_split': 6},
  {'bootstrap': False,
   'criterion': 'entropy',
   'max_depth': 3,
   'max_features': 7,
   'min_samples_split': 8}],
 'split0_test_score': array([0.87439614, 0.8647343 , 0.83574879, 0.83574879, 0.8647343 ,
        0.86956522, 0.85024155, 0.83574879, 0.84541063, 0.86956522,
        0.87439614, 0.85024155, 0.84541063, 0.83574879, 0.87922705,
        0.84057971, 0.87922705, 0.84541063, 0.88888889, 0.84541063]),
 'split1_test_score': array([0.8647343 , 0.8647343 , 0.84057971, 0.83574879, 0.85507246,
        0.85990338, 0.84541063, 0.83574879, 0.84057971, 0.85990338,
        0.8647343 , 0.84541063, 0.84541063, 0.83574879, 0.8647343 ,
        0.84541063, 0.86956522, 0.84057971, 0.85507246, 0.83574879]),
 'split2_test_score': array([0.84878049, 0.84878049, 0.84390244, 0.83902439, 0.85365854,
        0.84390244, 0.84390244, 0.83902439, 0.84390244, 0.85365854,
        0.83902439, 0.84390244, 0.84878049, 0.83902439, 0.84878049,
        0.84878049, 0.85365854, 0.84878049, 0.84878049, 0.84390244]),
 'split3_test_score': array([0.88292683, 0.87804878, 0.84878049, 0.83902439, 0.85853659,
        0.85853659, 0.85853659, 0.83902439, 0.85365854, 0.85853659,
        0.86829268, 0.85365854, 0.84878049, 0.83902439, 0.86829268,
        0.84878049, 0.87317073, 0.84390244, 0.86341463, 0.85853659]),
 'split4_test_score': array([0.84390244, 0.84878049, 0.84390244, 0.83902439, 0.85853659,
        0.85365854, 0.84878049, 0.83902439, 0.84390244, 0.85365854,
        0.84390244, 0.84878049, 0.84390244, 0.83902439, 0.84878049,
        0.84390244, 0.85365854, 0.84390244, 0.85365854, 0.84390244]),
 'mean_test_score': array([0.86297376, 0.86103013, 0.8425656 , 0.83770651, 0.85811467,
        0.85714286, 0.84936832, 0.83770651, 0.84548105, 0.85908649,
        0.85811467, 0.8483965 , 0.84645287, 0.83770651, 0.86200194,
        0.84548105, 0.86588921, 0.84450923, 0.86200194, 0.84548105]),
 'std_test_score': array([0.01479117, 0.011091  , 0.00430678, 0.00160625, 0.00383454,
        0.00838493, 0.00510599, 0.00160625, 0.00437594, 0.00583288,
        0.01398657, 0.00347096, 0.00197272, 0.00160625, 0.0117781 ,
        0.00310929, 0.01042456, 0.00265536, 0.014289  , 0.00734878]),
 'rank_test_score': array([ 2,  5, 17, 18,  7,  9, 10, 18, 13,  6,  7, 11, 12, 18,  3, 13,  1,
        16,  3, 13])}

In [38]:
len(random_search.cv_results_['rank_test_score'])

20

Grid Search

In [39]:
#now use a full grid over all parameters
param_grid = {"max_depth": [3,None],
             "max_features": [1,3,10],
             "min_samples_split": [2,3,10],
             "bootstrap": [True,False],
             "criterion": ["gini","entropy"]}

In [40]:
#run grid search
grid_search = GridSearchCV(rf, param_grid=param_grid, cv=5)
start=time()
grid_search.fit(X_train, y_train)

print("Grid search took %.2f seconds for %d candidate parameter settings" %(time()-start, len(grid_search.cv_results_['params'])))
report(grid_search.cv_results_)

Grid search took 88.13 seconds for 72 candidate parameter settings
Model with rank: 1
Mean validation score: 0.866 (std: 0.010)
Parameters: {'bootstrap': False, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 10}

Model with rank: 2
Mean validation score: 0.865 (std: 0.010)
Parameters: {'bootstrap': False, 'criterion': 'entropy', 'max_depth': None, 'max_features': 10, 'min_samples_split': 3}

Model with rank: 3
Mean validation score: 0.864 (std: 0.011)
Parameters: {'bootstrap': True, 'criterion': 'gini', 'max_depth': None, 'max_features': 10, 'min_samples_split': 3}

Model with rank: 3
Mean validation score: 0.864 (std: 0.012)
Parameters: {'bootstrap': True, 'criterion': 'entropy', 'max_depth': None, 'max_features': 10, 'min_samples_split': 3}

In [41]:
#now run the random forest with best parameters from the seracj

#build the classifier with the best of random search
rf_random_search = RandomForestClassifier(n_estimators=100, bootstrap=True, criterion="gini",
                                         max_features=10, min_samples_split=10)

#train the model using training sets with the best of Random Search
rf_random_search.fit(X_train, y_train)

#predict the response for test dataset
y_pred = rf_random_search.predict(X_test)

In [42]:
#Print model performance metrics
print("Accuracy using Random Search:", metrics.accuracy_score(y_test,y_pred))
print("Precision using Random Search:", metrics.precision_score(y_test,y_pred))
print("Recall using Random Search:", metrics.recall_score(y_test,y_pred))

Accuracy using Random Search: 0.8639455782312925
Precision using Random Search: 0.75
Recall using Random Search: 0.21428571428571427

In [43]:
#Build a classifier with the best of grid search
rf_grid_search = RandomForestClassifier(n_estimators=100, bootstrap=False, criterion="gini",
                                       max_features=10, min_samples_split=2)

#train the model
rf_grid_search.fit(X_train,y_train)

#predict
y_pred = rf_grid_search.predict(X_test)

In [44]:
#print model performance metrics
print("Accuracy using Grid Search:", metrics.accuracy_score(y_test,y_pred))
print("Precision using Grid Search:", metrics.precision_score(y_test,y_pred))
print("Recall using Grid Search:", metrics.recall_score(y_test,y_pred))

Accuracy using Grid Search: 0.8639455782312925
Precision using Grid Search: 0.6666666666666666
Recall using Grid Search: 0.2857142857142857